<template>
	<div class="mt-4" :style="{ display: showAlert ? 'block' : 'none' }">
		<div :class="[{alert: true}, type]">
	  		<strong>{{action}}</strong> {{message}}
	  		<a href="#" class="close" aria-label="close" @click="closeAction">&times;</a>
		</div>
	</div>
</template>

<script>
	export default {
		props: {
			type: String,
			action: String,
			message: String,
			showAlert: Boolean,
			closeAction: Function
		}
	}
</script>

<style>
	
</style>