<template>
    <div id="app">
        <div class="container">
            <h1>{{title}}</h1>
            <p>{{description}}</p>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="user in users"
                        v-on:click="selectUser(user.id)"
                        v-bind:class="{'selected': (user.id == selected)}">
                        <th scope="row">{{user.id}}</th>
                        <td>{{user.name}}</td>
                        <td>{{user.surname}}</td>
                    </tr>
              </tbody>
            </table>
            <form class="form-inline">
                <label class="sr-only" for="inputName">Name</label>
                <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inputName" v-model="name" placeholder="Jon" required>
                <label class="sr-only" for="inputSurname">Last name</label>
                <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inputSurname" v-model="surname" placeholder="Snow" required>
                <button type="submit" class="btn btn-success mr-sm-2" v-on:click.prevent="createUser">Create</button>
                <button type="submit" class="btn btn-primary mr-sm-2" v-on:click.prevent="updateUser">Update</button>
                <button type="submit" class="btn btn-danger mr-sm-2" v-on:click.prevent="showDeleteUserModal">Delete</button>
            </form>
            <alert :showAlert="alert.showAlert" :closeAction="closeAlert" :type="alert.type" :action="alert.action" :message="alert.message"></alert>
            <modal :showModal="modal.showModal" :closeAction="closeDialog">
                <h4 slot="header" class="modal-title">{{modal.header}}</h4>
                <span slot="body">{{modal.body}}</span>
                <button slot="footer" type="button" class="btn btn-default" v-on:click="closeDialog">Close</button>
                <button slot="footer" type="button" class="btn btn-danger" v-on:click="deleteUser">Delete</button>
            </modal>
        </div>
    </div>
</template>

<script>
    import Modal from './components/modal.vue'
    import Alert from './components/alert.vue'

    export default {
        name: 'app',
        components: { Modal, Alert },
        data () {
            return {
                title: 'Sky Bet',
                description: 'Sky Betting & Gaming Technical Test',
                name: '',
                surname: '',
                selected: 0,
                users: [],
                modal: {
                    header: '',
                    body: '',
                    showModal: false
                },
                alert: {
                    type: '',
                    action: '',
                    message: '',
                    showAlert: false
                }
            }
        },
        mounted () {
            this.$http.get('http://localhost:3000/users').then((response) => {
                this.users = response.body.users;
            }).catch((err) => {
                this.showAlert('alert-danger', 'Error!', 'Something went wrong.');
                console.log(err);
            });
        },
        methods: {
            createUser() {
                this.$http.put('http://localhost:3000/user', { name: this.name, surname: this.surname }).then((response) => {
                    this.users = response.body.users;
                    this.showAlert('alert-success', 'Success!', 'User was correctly created.');
                }).catch((err) => {
                    this.showAlert('alert-danger', 'Error!', 'Something went wrong.');
                    console.log(err);
                });
            },
            selectUser(id) {
                let user = this.users.filter((user) => { if (user.id === id) return user; }).pop();

                this.selected = id;
                this.name = user.name;
                this.surname = user.surname;
            },
            updateUser() {
                let _this = this;
                
                if (this.selected !== 0) {
                    let user = this.users.filter((user) => { if (user.id === _this.selected) return user; }).pop();

                    user = JSON.parse(JSON.stringify(user));

                    user.name = this.name;
                    user.surname = this.surname;

                    this.$http.post('http://localhost:3000/user/' + user.id, user).then((response) => {
                        this.users = response.body.users;
                        this.showAlert('alert-success', 'Success!', 'User was correctly updated.');
                    }).catch((err) => {
                        this.showAlert('alert-danger', 'Error!', 'Something went wrong.');
                        console.log(err);
                    });
                }
            },
            showDeleteUserModal() {
                let _this = this;

                if (this.selected !== 0) {
                    let user = this.users.filter((user) => { if (user.id === _this.selected) return user; }).pop();

                    user = JSON.parse(JSON.stringify(user));

                    this.modal.header = 'Delete';
                    this.modal.body = 'Are you sure you want to delete ' + user.name + ' ?';
                    this.modal.showModal = true;
                }
            },
            deleteUser() {
                let _this = this;

                if (this.selected !== 0) {
                    let user = this.users.filter((user) => { if (user.id === _this.selected) return user; }).pop();

                    user = JSON.parse(JSON.stringify(user));

                    this.$http.delete('http://localhost:3000/user/' + user.id).then((response) => {
                        this.users = response.body.users;
                        this.showAlert('alert-success', 'Success!', 'User was correctly deleted.');
                    }).catch((err) => {
                        this.showAlert('alert-danger', 'Error!', 'Something went wrong.');
                        console.log(err);
                    });

                    this.modal.showModal = false;
                }
            },
            closeDialog() {
                this.modal.showModal = false;
            },
            closeAlert() {
                this.alert.showAlert = false;
            },
            showAlert(type, action, message) {
                this.alert.type = type;
                this.alert.action = action;
                this.alert.message = message;
                this.alert.showAlert = true;
            }
        }
    }
</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #2c3e50;
        margin-top: 60px;
    }
    tr.selected {
        background: #41c69e !important;
    }
</style>
